<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth_layout}">

<body>

<div layout:fragment="main-content">

    <a href="about" th:href="@{/projects/add}" class="btn btn-lg btn-secondary fw-bold
         border-white bg-white un-line justify-content-center float-md-end"
       data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on top">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
             class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd"
                  d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
    </a>

    <table class="table table-dark table-hover table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{project.name}">name</th>
            <th th:text="#{project.code}">code</th>
            <th th:text="#{project.description}">description</th>
            <th th:text="#{project.date-created}">date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${projectStat.count}">count</td>
            <td th:text="${{project.name}}">name</td>
            <td th:text="${{project.code}}">code</td>
            <td th:text="${{project.description}}">desc</td>
            <td th:text="${{project.dateCreated}}">date</td>
            <td>
                <a href="about" th:href="@{/projects/remove(id=${project.id})}" class="btn-lg btn-secondary fw-bold
                 border-white bg-white un-line no-line" th:text="#{btn.close}">close project</a>
                <a href="about" th:href="@{/projects/edit(id=${project.id})}" class="btn-lg btn-secondary fw-bold
                 border-white bg-white un-line no-line" th:text="#{btn.edit}">edit project</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>