.no-line {
    text-decoration: none;
}

a:hover.un-line {
    text-decoration: underline;
}

a:hover.boots-ico {
    color: grey;
}

button:hover.un-line {
    text-decoration: underline;
}
a.boots-ico {
    color: #fff;
}

body {
    padding-top: 70px;
}