.no-line {
    text-decoration: none;
}

a:hover.un-line {
    text-decoration: underline;
}

a:hover.boots-ico {
    color: grey;
}

button:hover.un-line {
    text-decoration: underline;
}
a.boots-ico {
    color: #fff;
}

body {
    padding-top: 70px;
}

.pageTitle {
    position: fixed;
    top: 70px;
    left: 16px;
    font-size: 18px;
    color: rgba(255, 255, 255, .5);
}