<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth_layout}">

<body>

<div layout:fragment="main-content">
    <form class="login-form"
          th:action="@{/persons/updatePassword(id=${editPassword.id})}" th:object="${editPassword}" method="post">

        <h1 th:text="#{person.edit.password}"></h1>
        <br>

        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label for="input-password" class="form-label" th:text="#{person.add.password}">pass</label>
            <input type="password"
                   id="input-password"
                   th:field="*{password}"
                   th:class="'form-control ' + ${#fields.hasErrors('password') ? 'is-invalid' : ''}"/>
            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   class="text-danger"></small>
        </div>
        <div class="form-group">
            <label for="input-re-password" class="form-label" th:text="#{person.add.re-password}">re-pass</label>
            <input type="password"
                   id="input-re-password"
                   th:field="*{repeatedPassword}"
                   th:class="'form-control ' + ${#fields.hasErrors('repeatedPassword') ? 'is-invalid' : ''}"/>
            <small th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}"
                   class="text-danger"></small>
        </div>
        <div class="mt-3">
            <a class="btn btn-lg btn-secondary fw-bold border-white bg-white un-line"
               th:href="@{/persons/edit(id=${editPassword.id})}"
               th:text="#{btn.cancel}">cancel
            </a>
            <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white un-line"
                    th:text="#{btn.confirm}">Confirm
            </button>
        </div>
    </form>

</div>
</body>
</html>