<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth_layout}">

<body>

<div layout:fragment="main-content">

    <div class="pageTitle" th:text="#{layout.menu.users}"></div>

    <a th:if="${access}" th:href="@{/persons/add}" class="boots-ico justify-content-center float-md-end"
       data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on top">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </a>
    <br>

    <table class="table table-dark table-hover table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{person.user_real_name}">real name</th>
            <th th:text="#{person.login}">login</th>
            <th th:text="#{person.email}">email</th>
            <th th:text="#{person.phone_number}">phone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${persons}">
            <td th:text="${personStat.count}">count</td>
            <td th:text="${{person.userRealName}}">name</td>
            <td th:text="${{person.login}}">login</td>
            <td th:text="${{person.email}}">email</td>
            <td th:text="${{person.phoneNumber}}">phone</td>
            <td>
                <span th:if="${access}">
                <a href="about" th:href="@{/persons/remove(id=${person.id})}" class="btn-lg btn-secondary fw-bold
                 border-white bg-white un-line no-line" th:text="#{btn.remove}">remove person</a>
                <a href="about" th:href="@{/persons/edit(id=${person.id})}" class="btn-lg btn-secondary fw-bold
                 border-white bg-white un-line no-line" th:text="#{btn.edit}">edit person</a>
                    </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>