<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth_layout}">

<body>

<div layout:fragment="main-content">


    <a href="about" th:href="@{/issues/add}" class="btn btn-lg btn-secondary fw-bold
         border-white bg-white un-line justify-content-center float-md-end"
       data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on top">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
             class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd"
                  d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
    </a>

    <section class="container">
        <form th:action="@{/issues}" th:object="${filter}"
              class="form-inline">

            <input th:field="*{globalSearch}"
                   class="form-control"
                   onchange="this.form.submit()"
                   th:placeholder="#{issue.filter.search}"/>

            <select th:field="*{project}"
                    class="form-control"
                    onchange="this.form.submit()">
                <option th:value="${null}" th:text="#{issue.filter.project}">
                </option>
                <option th:each="project : ${projects}"
                        th:value="${project.id}"
                        th:text="${project.name}"></option>
            </select>

            <select th:field="*{status}"
                    class="form-control"
                    onchange="this.form.submit()">
                <option th:value="${null}" th:text="#{issue.filter.status}"></option>
                <option th:each="state : ${statuses}"
                        th:value="${state.id}"
                        th:text="${state.name}"></option>
            </select>

            <select th:field="*{priority}"
                    class="form-control"
                    onchange="this.form.submit()">
                <option th:value="${null}" th:text="#{issue.filter.priority}"></option>
                <option th:each="priority : ${priorities}"
                        th:value="${priority.id}"
                        th:text="${priority.name}"></option>
            </select>

            <select th:field="*{type}"
                    class="form-control"
                    onchange="this.form.submit()">
                <option th:value="${null}" th:text="#{issue.filter.type}"></option>
                <option th:each="type : ${types}"
                        th:value="${type.id}"
                        th:text="${type.name}"></option>
            </select>

        </form>

        <table class="table table-dark table-hover table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th th:text="#{issue.name}">name</th>
                <th th:text="#{issue.code}">code</th>
                <th th:text="#{issue.project}">project</th>
                <th th:text="#{issue.status}">status</th>
                <th th:text="#{issue.priority}">priority</th>
                <th th:text="#{issue.type}">type</th>
                <th th:text="#{issue.dateCreated}">date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="issue : ${issues}">
                <td th:text="${issueStat.count}">count</td>
                <td th:text="${{issue.name}}">name</td>
                <td th:text="${{issue.code}}">code</td>
                <td>
                <span th:if="${issue.project != null}"
                      th:text="${{issue.project.name}}">project</span>
                </td>
                <td>
                <span th:if="${issue.status != null}"
                      th:text="${{issue.status.name}}">status</span>
                </td>
                <td>
                <span th:if="${issue.priority != null}"
                      th:text="${{issue.priority.name}}">priority</span>
                </td>
                <td>
                <span th:if="${issue.type != null}"
                      th:text="${{issue.type.name}}">type</span>
                </td>
                <td th:text="${{issue.dateCreated}}">date</td>
                <td>
                    <a href="about" th:href="@{/issues/remove(id=${issue.id})}" class="btn-lg btn-secondary fw-bold
                 border-white bg-white un-line no-line" th:text="#{issue.close}">remove issue</a>
                    <a href="about" th:href="@{/issues/edit(id=${issue.id})}" class="btn-lg btn-secondary fw-bold
                 border-white bg-white un-line no-line" th:text="#{issue.edit}">edit issue</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>